/*--- HTML ---*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*--- Body ---*/
body {
    /* want the body to take up 100% of viewable page */
    height: 100vh;
    margin: 0;

    /* center text for page */
    text-align: center;
    
}


/*--- main ---*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    /* flex: 1; */

    display: flex;
    gap: 3em;
    /* justify-content: center;
    align-items: center; */
}

.grid-container {

    border: solid 4px rgb(0, 0, 0);
    background-color: black;

    min-width: 600px;
    /* max-width: 600px; */
    min-height: 600px;
    /* max-height: 600px; */

    /* flex: 1; */

    display: flex;
    flex-direction: column;
    /* can create the illusion of a border by using a gap */
    gap: 1px;
}

.row {
    /* border: solid 1px red; */
    flex: 1;

    display: flex;
    /* can create the illusion of a border by using a gap */
    gap: 1px;
}

.column {
    background-color: white;
    /* border: solid 1px rgb(46, 46, 46); */

    flex: 1;
}

.column:hover {
    background-color: blue;

}




.slider {

    max-width: 200px;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 1em;
}