/*--- HTML ---*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*--- Body ---*/
body {
    /* want the body to take up 100% of viewable page */
    height: 100vh;
    margin: 0;

    /* center text for page */
    text-align: center;
    
}


/*--- main ---*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    /* flex: 1; */

    /* width: 1200px; */
    width: 1000px;

    display: flex;
    gap: 3em;
    /* justify-content: space-between; */
    /* align-items: center; */
}

.grid-container {

    border: solid 4px rgb(0, 0, 0);
    background-color: black;

    /* min-width: 600px;
    min-height: 600px; */
    /* max-width: 600px; */
    /* max-height: 600px; */

    min-width: 480px;
    min-height: 480px;

    /* flex: 1; */

    display: flex;
    flex-direction: column;
    /* can create the illusion of a border by using a gap */
    gap: 1px;
}

.row {
    /* border: solid 1px red; */
    flex: 1;

    display: flex;
    /* can create the illusion of a border by using a gap */
    gap: 1px;
}

.column {
    background-color: white;
    /* border: solid 1px rgb(46, 46, 46); */

    flex: 1;
}

/* .column:hover {
    background-color: blue;
} */




.slider {
    /* min-width: 250px; */

    display: flex;
    flex-direction: column;
    /* align-items: flex-start;
    align-content: flex-start; */
    align-items: flex-end;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 1em;
}

.slider-value-display {
    padding-right: 1em;
}

.resize {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}


.side-bar {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 2em;
}

.slider, .resize, .old-school {
    /* flex: 1; */
}

.old-school {
    max-width: 175px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    
}

.old-school-grid-container {

    border: solid 4px rgb(0, 0, 0);
    background-color: black;

    /* min-width: 825px;
    min-height: 600px; */
    min-width: 660px;
    min-height: 480px;

    display: flex;
    flex-direction: column;
    /* can create the illusion of a border by using a gap */
    gap: 1px;
}

.grid-toggle {
    gap: 0;
}


/* .back-grid {
    visibility: hidden;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-color: black;
    z-index: -1;
    top: 0;
} */