/*--- Imports ---*/
@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

/*--- Root ---*/
:root {
    --background-color: rgb(255,230,50);
    --etch-red: rgb(255, 11, 11);
    --etch-yellow: rgb(255,230,50);
    --grid-background-color: rgb(255,255,255);
    --active-button: rgb(0,0,0);
}

/*--- HTML ---*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*--- Body ---*/
body {
    /*  want the body to take up 100% of viewable page so flexbox pushes 
        footer down */
    /* height: 100vh; */

    margin: 0;
    background-color: var(--background-color);

    /* center text for page */
    text-align: center;
}


/*--- main ---*/

/* dont need body to be flex to set up header and footer */
/* body {
    display: flex;
    justify-content: center;
    align-items: center;
} */

header > h1 {
    color: var(--etch-red);
    font-family: 'Londrina Sketch', cursive;
    font-size: 4em;
    margin: 20px 0;
}

footer {
    /* position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 2rem; */

    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: var(--etch-red);

}

button {
    background-color: var(--etch-red);
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 1.11em;

    border: none;
    border-radius: 5px;

    min-width: 160px;
    padding: 10px;
}

.active-colour-button, .active-grid-button, .active-os-size {
    background-color: var(--active-button);
}

main {
    /* space for footer */
    padding-bottom: 2rem;

    /* flex: 1; */

    /* width: 1200px; */
    /* width: 1000px; */

    display: flex;
    gap: 3em;
    justify-content: center;
    /* align-items: center; */

    
}

.etch-container {
    /* outline: solid 50px var(--etch-red); */

    /* border: solid 50px var(--etch-red);
    border-radius: 30px; */

    /* padding: 50px;
    background-color: var(--etch-red); */
    
    
    /*  setting width to width of old-school grid container
        + borders, so that sidebars stay in fixed position 
        when changing from a square to a rectangle grid*/
    width: 760px;

    /* margin-left: 50px;
    margin-right: 50px; */
    /* min-width: 800px;
    min-height: 600px; */


    display: flex;
    justify-content: center;
    align-items: center;
}

.old-school-etch {
    padding: 50px;
}

.grid-container {

    box-sizing: initial;

    border: solid 50px var(--etch-red);
    border-radius: 30px;


    /* border: solid 4px rgb(0, 0, 0); */
    background-color: black;

    /* min-width: 600px;
    min-height: 600px; */
    /* max-width: 600px; */
    /* max-height: 600px; */

    min-width: 480px;
    min-height: 480px;

    /* flex: 1; */

    display: flex;
    flex-direction: column;
    /* can create the illusion of a border by using a gap */
    gap: 1px;
}

.square-grid {
    min-width: 480px;
    min-height: 480px;

    max-width: 480px;
    max-height: 480px;
}

.row {
    /* border: solid 1px red; */
    flex: 1;

    display: flex;
    /* can create the illusion of a border by using a gap */
    gap: 1px;
}

.column {
    background-color: var(--grid-background-color);
    /* border: solid 1px rgb(46, 46, 46); */

    flex: 1;
}


.side-bar-left {
    min-width: 200px;
    display: flex;
    justify-content: flex-end;
}

.side-bar-right {
    min-width: 200px;
    display: flex;
    justify-content: flex-start;

    /* margin-top: 90px; */
}

.side-bar {
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.side-bar h2 {
    color: var(--etch-red);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    margin: 0;

    margin: 6px 0;
}

/* match height (74px) of colour picker div on left side bar */

.slider {
    min-height: 74px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* .slider-value-display {
    padding-right: 1em;
} */

.resize {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}




.hidden {
    display: none;
}

.old-school {
    max-width: 175px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    
}

.old-school-grid-container {

    /* border: solid 4px rgb(0, 0, 0); */
    background-color: black;

    /* min-width: 825px;
    min-height: 600px; */
    min-width: 660px;
    min-height: 480px;

    max-width: 660px;
    max-height: 480px;

    display: flex;
    flex-direction: column;
    /* can create the illusion of a border by using a gap */
    gap: 1px;
}

.grid-toggle {
    gap: 0;
}




input[type='color'] {
  width: 70px;
  height: 70px;
  border: none;
  padding: 0;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
  background-color: var(--background-color);
}

input[type='color']::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}


/* .back-grid {
    visibility: hidden;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-color: black;
    z-index: -1;
    top: 0;
} */


footer a, footer a:visited {
    color: var(--etch-red);
}

@media (max-width: 1259px) {

    main {
        flex-direction: column;
        align-items: center;
    }

    .side-bar, .side-bar-left, .side-bar-right {
        width: 760px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    button#old-school-default-22, button#square {
        display: none;
    }
}


@media (max-width: 759px) {

    main {
        gap: 1em;
    }

    .etch-container {
        width: 480px;
    }

    .grid-container {
        border: solid 30px var(--etch-red);
        border-radius: 15px;
    }

    .side-bar, .side-bar-left, .side-bar-right {
        width: 400px;
    }

    .square-grid {
        min-width: 380px;
        min-height: 380px;
        max-width: 380px;
        max-height: 380px;
    }
}


@media (max-width: 499px) {

    .etch-container {
        width: 380px;
    }

    .grid-container {
        border: solid 15px var(--etch-red);
    }

    .side-bar, .side-bar-left, .side-bar-right {
        width: 380px;
    }

    .square-grid {
        min-width: 350px;
        min-height: 350px;
        max-width: 350px;
        max-height: 350px;
    }
}

@media (max-width: 379px) {

    .etch-container {
        width: 300px;
    }

    .grid-container {
        border: solid 10px var(--etch-red);
        border-radius: 10px;
    }

    .side-bar, .side-bar-left, .side-bar-right {
        width: 300px;
    }

    button {
        font-size: 1em;
        min-width: 80px;
    }

    .square-grid {
        min-width: 300px;
        min-height: 300px;
        max-width: 300px;
        max-height: 300px;
    }

    input[type='color'] {
        width: 40px;
        height: 40px;
    }
}